.tabs
	ul.tabs__list
		li.tabs__item.page-step1
			.tabs__name 01 Customer info
		li.tabs__item.page-step2
			.tabs__name 02 Shipping info
		li.tabs__item.page-step3
			.tabs__name 03 Payment selection